# Exclude exported CurseForge zip files

*.zip

# Preserve PrismLauncher instance
!cave_game-prism-latest.zip

# Preserve datapacks and resourcepacks
!modpack/config/openloader/**

# Exclude exported Modrinth modpacks

*.mrpack
