# Exclude exported CurseForge zip files

*.zip
!cave_game-prism-latest.zip
!modpack/config/openloader/data/*.zip
!modpack/config/openloader/resources/*.zip


# Exclude exported Modrinth modpacks

*.mrpack
